<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://andreas-service-bus-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c231f389-c62a-4508-a4a5-bb7e2a583331/resourceGroups/default-resorce-group/providers/Microsoft.Web/sites/andreas-service-bus-functions</ResourceId>
    <UserName>$andreas-service-bus-functions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://andreas-service-bus-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>